<!-- <div style="width: 400px; height: 400px">
  <ngx-html5-qrcode [useFrontCamera]="false" (result)="onSuccess($event)" (error)="onFail($event)" />
</div> -->
<zxing-scanner [formats]="formatsEnabled" [tryHarder]="true" [timeBetweenScans]="100" (scanComplete)="onComplete($event)" />
<!-- <zxing-scanner (scanComplete)="onComplete($event)" (scanError)="onError($event)" [formats]="formatsEnabled" /> -->

<!-- <zxing-scanner
  (deviceChange)="onDeviceChange($event)"
  (scanSuccess)="onCodeResult($event)"
  (scanError)="onError($event)"
  [formats]="formatsEnabled"
  [tryHarder]="tryHarder"
  (permissionResponse)="onHasPermission($event)"
  (camerasFound)="onCamerasFound($event)"
/> -->
<canvas id="stage" width="800" height="400"></canvas>